---
date: 2020-01-03
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LXR Nightly Builds</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    {% include load-builds.html %}

    <!-- Header -->

    <header>
        <h1>LXR Nightly Builds</h1>
        <p style="vertical-align: center">
            <label>Workflow Status:</label>
            <a style="text-decoration: none;" href="https://github.com/wenyuzhao/lxr-builds/actions/workflows/jdk11-mmtk-lxr.yml">
                <img src="https://img.shields.io/github/workflow/status/wenyuzhao/lxr-builds/jdk11-mmtk-lxr?label=jdk11-mmtk-lxr&logo=github&style=for-the-badge" alt="jdk11-lxr-status" style="max-width: 100%;">
            </a>
            <a style="text-decoration: none;" href="https://github.com/wenyuzhao/lxr-builds/actions/workflows/github-pages.yml">
                <img src="https://img.shields.io/github/workflow/status/wenyuzhao/lxr-builds/github-pages?label=github-pages&logo=github&style=for-the-badge" alt="pages-status" style="max-width: 100%;">
            </a>
        </p>
    </header>

    <!-- Content -->

    <main>

        <!-- Render latest builds -->

        <h1>Latest Builds</h1>

        <table>
            <tbody>
                <tr>
                    <th>Date</th>
                    <th>Debug Level</th>
                    <th>File</th>
                </tr>
                {% for build in latest_builds %}
                    <tr>
                        <td>{{ latest_date }}</td>
                        <td>{{ build.debug_level }}</td>
                        <td><a href="{{ build.name }}">{{ build.name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <!-- Render all builds -->

        <h1>All Nightly Builds</h1>

        <table>
            <tbody>
                <tr>
                    <th>Date</th>
                    <th>Debug Level</th>
                    <th>File</th>
                </tr>
                {% for build in builds %}
                    <tr>
                        <td>{{ build.date }}</td>
                        <td>{{ build.debug_level }}</td>
                        <td><a href="{{ build.name }}">{{ build.name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </main>

    <!-- Footer -->

    <footer>
        © 2022 <a href="https://wenyu.me">Wenyu Zhao</a>, <a href="https://mmtk.io">MMTk.io</a>
    </footer>
</body>

</html>
