<!-- Log 'site.github' -->
<div style="display: none" id="raw-data">{{ site.github | jsonify }}</div>
<script>console.log('site.github', JSON.parse(document.getElementById("raw-data").innerHTML));</script>

<!-- Create a list of all builds, sorted by (debug-level, dates) in descending order. -->

{% assign builds = "" | split: ',' %}
{% assign releases = site.github.releases | where: "name", "nightly" %}
{% for release in releases %}
    {% for raw in release.assets %}
        {% assign _date = raw.name | split: "-" | get: -1 | split: "." | get: 0 | strptime: "%Y%m%d" | strftime: "%Y-%m-%d" %}
        {% assign _item = raw | set: "date", _date %}
        {% assign _debug_level = raw.name | split: "-" | get: -2 %}
        {% assign _item = _item | set: "debug_level", _debug_level %}
        {% case _debug_level %}
            {% when "release" %}
                {% assign _item = _item | set: "_debug_level_rank", 2 %}
            {% when "fastdebug" %}
                {% assign _item = _item | set: "_debug_level_rank", 1 %}
            {% else %}
                {% assign _item = _item | set: "_debug_level_rank", 0 %}
        {% endcase %}
        {% assign builds = builds | push: _item %}
    {% endfor %}
{% endfor %}
{% assign builds = builds | sort: "_debug_level_rank" | sort: "date" | reverse %}
{% assign latest_date = builds | get: 0 | get: "date" %}

<!-- Create a list of latest builds, sorted by debug-level in descending order. -->

{% assign latest_builds = "" | split: ',' %}
{% assign releases = site.github.releases | where: "name", "latest" %}
{% for release in releases %}
    {% for raw in release.assets %}
        {% assign _item = raw %}
        {% assign _debug_level = raw.name | split: "-" | get: -1 | split: "." | get: 0 %}
        {% assign _item = _item | set: "debug_level", _debug_level %}
        {% case _debug_level %}
            {% when "release" %}
                {% assign _item = _item | set: "_debug_level_rank", 2 %}
            {% when "fastdebug" %}
                {% assign _item = _item | set: "_debug_level_rank", 1 %}
            {% else %}
                {% assign _item = _item | set: "_debug_level_rank", 0 %}
        {% endcase %}
        {% assign latest_builds = latest_builds | push: _item %}
    {% endfor %}
{% endfor %}
{% assign latest_builds = latest_builds | sort: "_debug_level_rank" | sort: "date" | reverse %}