<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">

<head>
    <title>{{ page.title | strip_html }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="description"
        content="{% if page.description %}{{page.description }}{% else %}{{ site.default_description }}{% endif %}{{ site.description_postfix }}" />
    <meta name="keywords" content="{% if page.keywords %}{{page.keywords }},{% endif %}{{ site.common_keywords }}" />
    <!--[if lt IE 9]>
        	<script src="{{ site.baseurl }}/js/html5.js"></script>
        <![endif]-->
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- <link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon" type="image/ico" /> -->
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="stylesheet" type="text/css" href="assets/css/default.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5PZJH8KK19"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-5PZJH8KK19');
    </script>
</head>

<body>
    <main>
        {{ content }}
    </main>


    <footer>
        © 2022 <a href="https://wenyu.me">Wenyu Zhao</a>, <a href="https://mmtk.io">The MMTk Project</a>.
    </footer>
</body>

</html>